* {
    margin: 0;
    padding: 0;
}

html {
    
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    //magnificpopup adding margin-right 17px
    margin-right: 0px !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h6,
h5,
p {
    margin: 0;
    font-size: 15px;
    padding: 0;
    font-weight: 400;
}

li {
    display: inline-block;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.text-block {
    padding: 55px 50px;
    max-width: 540px;
    z-index: 1;
    &__title {
        font-size: 38px;
        margin-bottom: 30px;
        @include pacifico;
    }
    &__text {
        margin-bottom: 20px;
        font-size: 16px;
    }
    a {
        color: #fff;
        background-color: $mainOrangeColor;
        padding: 15px 45px;
        border-radius: 4px;
    }
}