@mixin pacifico {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

@mixin bgSettings {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

$mainOrangeColor: #eaaf4c;